body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link:hover{
  color:#387ED1
}

.listItems{
  list-style-type: none;
  line-height: 1.8rem;
  color:#424242;
  font-size: 0.9rem;
}
.listItems li:hover{
  color:#387ED1
}
span i:hover{
  color:#387ED1
}

#ticket {
  font-size: 0.8rem;
  color:#387ED1;
  
}
